<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kefan.serverofitclub.dao.BillDao">
    <insert id="insertBill" parameterType="com.kefan.serverofitclub.model.Bill">
        INSERT INTO bill(username, text, gender, studentnumber, qq, mobile, address) VALUES
        (#{userName},#{text},#{gender},#{studentNumber},#{qq},#{mobile},#{address})
    </insert>
    
    
    <select id="findSameBill" parameterType="com.kefan.serverofitclub.model.Bill" resultType="com.kefan.serverofitclub.model.Bill">
        SELECT * FROM bill WHERE username = #{userName} AND studentnumber = #{studentNumber}
    </select>

    <select id="findBillId" parameterType="com.kefan.serverofitclub.model.Bill" resultType="com.kefan.serverofitclub.model.Bill">
        SELECT * FROM bill WHERE username = '${userName}' AND studentnumber = '${studentNumber}'

    </select>

    <insert id="insertUserBill" parameterType="map">
        INSERT INTO user_bill(userid,billid) VALUES (#{userId},#{billId})
    </insert>
    
    <select id="getBills" parameterType="long" resultType="com.kefan.serverofitclub.model.Bill">
        SELECT * FROM bill WHERE id IN (SELECT billid FROM user_bill WHERE userid = #{id} AND state > 0 )
    </select>
</mapper>